@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-family: 'IBM Plex Serif', serif;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.down {
  margin-left: 12em;
}

.down-black {
  color: black;
}

.sin {
  color: red;
  font-family: 'Seaweed Script',serif;
}

.sin:hover {
  color: #edef97;
  font-family: 'Berkshire Swash',fantasy;
}

.saint {
  color: #edef97;
  font-family: 'Berkshire Swash',fantasy;
}

.saint:hover {
  color: red;
  font-family: 'Seaweed Script',serif;
}

.proud:hover {
  font-style: normal;
}
