html {
  background-color: black;
  color: white;
  font-family: 'IBM Plex Serif', serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.down {
  margin-left: 12em;
}

.down-black {
  color: black;
}

.sin {
  color: red;
  font-family: 'Seaweed Script',serif;
}

.sin:hover {
  color: #edef97;
  font-family: 'Berkshire Swash',fantasy;
}

.saint {
  color: #edef97;
  font-family: 'Berkshire Swash',fantasy;
}

.saint:hover {
  color: red;
  font-family: 'Seaweed Script',serif;
}

.proud:hover {
  font-style: normal;
}
